<style>
    .form-group .form-control
    {
        padding: 10px;
    }
</style>
<h1>
    Reviews
</h1>
<table class="table table-striped table-hover">
    <tr>
        <th>Name</th>
        <th>Comment</th>
        <th>Rating</th>
    </tr>
    <tr ng-repeat="item in reviews">
        <td>{{item.name}}</td>
        <td>{{item.comment}}</td>
        <td>{{item.rating}}</td>
    </tr>
</table>
<div class="form-group">
    <label for="">Name:</label>
    <input type="text" class="form-control" name="" id="" placeholder="Your Name" ng-model="name">
    <label for="">Comment</label>
    <input type="text" class="form-control" placeholder="Comment" ng-model="comment">
    <label for="">Rating</label>
    <select name="rating" class="form-control" id="" ng-model="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <br>
    <button class="btn btn-outline-dark" ng-click="submitReview()">Submit</button>
</div>